.flex-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 320px;
}

.flex-row {
    display: flex;
    flex: 1;
}

.flex-cell {
    flex: 1;
    border: 1px solid #000;
    background-color: #ccc;
}